@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../../fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Medium.ttf);
  }
  * {
    font-family: 'Open Sans', sans-serif;
  }